name: Speakeasy Test SDK
on:
  workflow_call:
    inputs:
      target:
        description: "The specific target to test"
        required: false
        type: string
      working_directory:
        description: "The working directory for running Speakeasy CLI commands in the action"
        required: false
        type: string
      env_vars:
        required: false
        type: string
    secrets:
      github_access_token:
        description: A GitHub access token with read access to the repo
        required: true
      speakeasy_api_key:
        description: The API key to use to authenticate the Speakeasy CLI
        required: true
jobs:
  test:
    name: Test SDK
    runs-on: ubuntu-latest
    steps:
      - name: Set dynamic environment variables
        if: inputs.env_vars != ''
        run: echo "${{ inputs.env_vars }}" >> $GITHUB_ENV
      - name: Check commit message condition
        id: check_commit
        run: |
          # The default trigger for this action will be a PR event.
          # Sometimes we will also add a push event trigger to allow our Github app to run tests by making empty commits, a github token workaround.
          # This check allows us to ensure we aren't double running tests when normal PR updates are made.
          # The only time a push event should trigger tests is when it's a commit from our app with message "[run-tests]"
          if [[ "${{ github.event_name }}" != "push" ]]; then
            echo "Skipping commit message check since event is not push."
            echo "run_tests=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          COMMIT_MESSAGE="${{ github.event.head_commit.message }}"
          echo "Commit message: $COMMIT_MESSAGE"

          if [[ "$COMMIT_MESSAGE" == *"[run-tests]"* ]]; then
            echo "run_tests=true" >> $GITHUB_OUTPUT
          else
            echo "run_tests=false" >> $GITHUB_OUTPUT
          fi
      - name: Checkout repository
        if: steps.check_commit.outputs.run_tests == 'true'
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
          token: ${{ secrets.github_access_token }}
      - name: Install speakeasy CLI
        if: steps.check_commit.outputs.run_tests == 'true'
        shell: bash
        run: curl -fsSL https://raw.githubusercontent.com/speakeasy-api/speakeasy/main/install.sh | sh
      - name: Set up Python
        if: steps.check_commit.outputs.run_tests == 'true'
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4
        with:
          python-version: "3.10"
      - name: Install poetry
        if: steps.check_commit.outputs.run_tests == 'true'
        shell: bash
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install uv
        if: steps.check_commit.outputs.run_tests == 'true'
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
      - name: Set up Node
        if: steps.check_commit.outputs.run_tests == 'true'
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "24.x"
      - name: Set up Ruby
        if: steps.check_commit.outputs.run_tests == 'true'
        uses: ruby/setup-ruby@d8d83c3960843afb664e821fed6be52f37da5267 # v1.231.0
        with:
          ruby-version: "3.2"
      - name: Set up Java
        if: steps.check_commit.outputs.run_tests == 'true'
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: "corretto"
          java-version: "11"
      - name: Set up Gradle
        if: steps.check_commit.outputs.run_tests == 'true'
        uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4.4.2
        with:
          gradle-version: "8.14"
      - id: test
        name: Run Tests
        if: steps.check_commit.outputs.run_tests == 'true'
        shell: bash
        working-directory: ${{ inputs.working_directory || '.' }}
        run: |
          if command -v go &>/dev/null; then
            export PATH="$(go env GOPATH)/bin:$PATH"
          fi
          speakeasy ci test
        env:
          SPEAKEASY_API_KEY: ${{ secrets.speakeasy_api_key }}
          SPEAKEASY_ENVIRONMENT: github
          INPUT_GITHUB_ACCESS_TOKEN: ${{ secrets.github_access_token }}
          INPUT_WORKING_DIRECTORY: ${{ inputs.working_directory }}
          INPUT_TARGET: ${{ inputs.target }}
