name: Speakeasy SDK Publish Workflow

on:
  workflow_call:
    inputs:
      create_release:
        description: "Create a Github release"
        default: "true"
        required: false
        type: string
      publish_python:
        description: "Publish the Python SDK to PyPi if using 'direct' mode or prepare a release if using 'pr' mode"
        default: "false"
        required: false
        type: string
      publish_typescript:
        description: "Publish the Typescript SDK to NPM if using 'direct' mode or prepare a release if using 'pr' mode"
        default: "false"
        required: false
        type: string
      publish_java:
        description: "Publish the Java SDK to the OSSRH URL configured in gen.yml if using 'direct' mode or prepare a release if using 'pr' mode"
        default: "false"
        required: false
        type: string
      publish_php:
        description: "Publish the PHP SDK for Composer if using 'direct' mode or prepare a release if using 'pr' mode"
        default: "false"
        required: false
        type: string
      publish_ruby:
        description: "Publish the Ruby SDK for RubyGems if using 'direct' mode or prepare a release if using 'pr' mode"
        default: "false"
        required: false
        type: string
      publish_csharp:
        description: "Publish the C# SDK for nuget if using 'direct' mode or prepare a release if using 'pr' mode"
        default: "false"
        required: false
        type: string
      publish_terraform:
        description: "Create a Github release compatible with the terraform registry of the provider"
        default: "false"
        required: false
        type: string
      speakeasy_server_url:
        required: false
        description: "Internal use only"
        type: string
      dotnet_version:
        description: "The version of dotnet to use when compiling the C# SDK"
        required: false
        type: string
        default: "5.x"
    secrets:
      github_access_token:
        description: A GitHub access token with write access to the repo
        required: true
      pypi_token:
        description: A PyPi access token for publishing the package to PyPi, include the `pypi-` prefix
        required: false
      npm_token:
        description: An NPM access token for publishing the package to NPM, include the `npm_` prefix
        required: false
      packagist_username:
        description: A Packagist username for publishing the package to Packagist
        required: false
      packagist_token:
        description: A Packagist API token for publishing the package to Packagist
        required: false
      speakeasy_api_key:
        description: The API key to use to authenticate the Speakeasy CLI
        required: true
      ossrh_username:
        description: A username for publishing the Java package to the OSSRH URL provided in gen.yml
        required: false
      ossrh_password:
        description: The corresponding password for publishing the Java package to the OSSRH URL provided in gen.yml
        required: false
      java_gpg_secret_key:
        description: The GPG secret key to use for signing the Java package
        required: false
      java_gpg_passphrase:
        description: The passphrase for the GPG secret key
        required: false
      slack_webhook_url:
        description: A Slack webhook URL that pipeline failures will be posted to
        required: false
      rubygems_auth_token:
        description: The auth token (api key) for publishing to RubyGems
        required: false
      nuget_api_key:
        description: The api key for publishing to Nuget
        required: false
jobs:
  release:
    name: Create Github Release
    runs-on: ubuntu-latest
    outputs:
      python_regenerated: ${{ steps.release.outputs.python_regenerated }}
      python_directory: ${{ steps.release.outputs.python_directory }}
      typescript_regenerated: ${{ steps.release.outputs.typescript_regenerated }}
      typescript_directory: ${{ steps.release.outputs.typescript_directory }}
      terraform_regenerated: ${{ steps.release.outputs.terraform_regenerated }}
      terraform_directory: ${{ steps.release.outputs.terraform_directory }}
      go_regenerated: ${{ steps.release.outputs.go_regenerated }}
      go_directory: ${{ steps.release.outputs.go_directory }}
      java_regenerated: ${{ steps.release.outputs.java_regenerated }}
      java_directory: ${{ steps.release.outputs.java_directory }}
      php_regenerated: ${{ steps.release.outputs.php_regenerated }}
      php_directory: ${{ steps.release.outputs.php_directory }}
      ruby_regenerated: ${{ steps.release.outputs.ruby_regenerated }}
      ruby_directory: ${{ steps.release.outputs.ruby_directory }}
      csharp_regenerated: ${{ steps.release.outputs.csharp_regenerated }}
      csharp_directory: ${{ steps.release.outputs.csharp_directory }}
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@v1
      - id: release
        uses: speakeasy-api/sdk-generation-action@v14
        with:
          github_access_token: ${{ secrets.github_access_token }}
          create_release: ${{ inputs.create_release }}
          publish_python: ${{ inputs.publish_python }}
          publish_typescript: ${{ inputs.publish_typescript }}
          publish_terraform: ${{ inputs.publish_terraform }}
          publish_java: ${{ inputs.publish_java }}
          publish_php: ${{ inputs.publish_php }}
          publish_ruby: ${{ inputs.publish_ruby }}
          publish_csharp: ${{ inputs.publish_csharp }}
          action: "release"
          speakeasy_api_key: ${{ secrets.speakeasy_api_key }}
          speakeasy_server_url: ${{ inputs.speakeasy_server_url }}
      - uses: ravsamhq/notify-slack-action@v2
        if: always() && env.SLACK_WEBHOOK_URL != ''
        with:
          status: ${{ job.status }}
          token: ${{ secrets.github_access_token }}
          notify_when: "failure"
          notification_title: "Failed to create Github Release"
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
          footer: "Linked Repo <{repo_url}|{repo}> | <{run_url}|View Run>"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  publish-pypi:
    if: ${{ needs.release.outputs.python_regenerated == 'true' && inputs.publish_python == 'true' }}
    name: Publish Python SDK
    runs-on: ubuntu-latest
    needs: release
    defaults:
      run:
        working-directory: ${{ needs.release.outputs.python_directory }}
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@v1
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*
      - uses: ravsamhq/notify-slack-action@v2
        if: always() && env.SLACK_WEBHOOK_URL != ''
        with:
          status: ${{ job.status }}
          token: ${{ secrets.github_access_token }}
          notify_when: "failure"
          notification_title: "Failed to publish Python SDK"
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
          footer: "Linked Repo <{repo_url}|{repo}> | <{run_url}|View Run>"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  publish-npm:
    if: ${{ needs.release.outputs.typescript_regenerated == 'true' && inputs.publish_typescript == 'true' }}
    name: Publish Typescript SDK
    runs-on: ubuntu-latest
    needs: release
    defaults:
      run:
        working-directory: ${{ needs.release.outputs.typescript_directory }}
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@v1
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        run: npm install
      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
        run: npm publish --access public
      - uses: ravsamhq/notify-slack-action@v2
        if: always() && env.SLACK_WEBHOOK_URL != ''
        with:
          status: ${{ job.status }}
          token: ${{ secrets.github_access_token }}
          notify_when: "failure"
          notification_title: "Failed to publish Typescript SDK"
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
          footer: "Linked Repo <{repo_url}|{repo}> | <{run_url}|View Run>"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  publish-java:
    if: ${{ needs.release.outputs.java_regenerated == 'true' && inputs.publish_java == 'true' }}
    name: Publish Java SDK
    runs-on: ubuntu-latest
    needs: release
    defaults:
      run:
        working-directory: ${{ needs.release.outputs.java_directory }}
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@v1
      - uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "corretto"
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Publish package
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: publish
        env:
          MAVEN_USERNAME: ${{ secrets.ossrh_username }}
          MAVEN_PASSWORD: ${{ secrets.ossrh_password }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.java_gpg_secret_key }}
          ORG_GRADLE_PROJECT_signingPassphrase: ${{ secrets.java_gpg_passphrase }}
      - uses: ravsamhq/notify-slack-action@v2
        if: always() && env.SLACK_WEBHOOK_URL != ''
        with:
          status: ${{ job.status }}
          token: ${{ secrets.github_access_token }}
          notify_when: "failure"
          notification_title: "Failed to publish Java SDK"
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
          footer: "Linked Repo <{repo_url}|{repo}> | <{run_url}|View Run>"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  publish-packagist:
    if: ${{ needs.release.outputs.php_regenerated == 'true' && inputs.publish_php == 'true' }}
    name: Publish PHP SDK
    runs-on: ubuntu-latest
    needs: release
    defaults:
      run:
        working-directory: ${{ needs.release.outputs.php_directory }}
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@v1
      - name: Publish
        uses: wei/curl@v1.1.1
        with:
          args: -XPOST -H'content-type:application/json' 'https://packagist.org/api/update-package?username=${{ secrets.packagist_username }}&apiToken=${{ secrets.packagist_token }}' -d'{\"repository\":{\"url\":\"${{ github.server_url }}/${{ github.repository }}\"}}'
      - uses: ravsamhq/notify-slack-action@v2
        if: always() && env.SLACK_WEBHOOK_URL != ''
        with:
          status: ${{ job.status }}
          token: ${{ secrets.github_access_token }}
          notify_when: "failure"
          notification_title: "Failed to publish PHP SDK"
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
          footer: "Linked Repo <{repo_url}|{repo}> | <{run_url}|View Run>"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  publish-nuget:
    if: ${{ needs.release.outputs.csharp_regenerated == 'true' && inputs.publish_csharp == 'true' }}
    name: Publish C# SDK
    runs-on: ubuntu-latest
    needs: release
    defaults:
      run:
        working-directory: ${{ needs.release.outputs.csharp_directory }}
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@v1
      - uses: actions/checkout@v3
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ inputs.dotnet_version }}
      - name: Publish
        run: dotnet pack -o . && dotnet nuget push *.nupkg --api-key ${{ secrets.nuget_api_key }} --source https://api.nuget.org/v3/index.json
      - uses: ravsamhq/notify-slack-action@v2
        if: always() && env.SLACK_WEBHOOK_URL != ''
        with:
          status: ${{ job.status }}
          token: ${{ secrets.github_access_token }}
          notify_when: "failure"
          notification_title: "Publishing of C# SDK Failed"
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
          footer: "Linked Repo <{repo_url}|{repo}> | <{run_url}|View Run>"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  publish-terraform:
    if: ${{ needs.release.outputs.terraform_regenerated == 'true' && inputs.publish_terraform == 'true' }}
    name: Publish Terraform Provider
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@v1
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          install-only: true
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@111c56156bcc6918c056dbef52164cfa583dc549 # v5.2.0
        id: import_gpg
        with:
          gpg_private_key: ${{ secrets.TERRAFORM_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.TERRAFORM_GPG_PASSPHRASE }}
      - id: release
        uses: speakeasy-api/sdk-generation-action@v14
        with:
          github_access_token: ${{ secrets.github_access_token }}
          speakeasy_api_key: ${{ secrets.speakeasy_api_key }}
          gpg_fingerprint: ${{ steps.import_gpg.outputs.fingerprint }}
          action: "release"
          speakeasy_server_url: ${{ inputs.speakeasy_server_url }}
        env:
          GITHUB_TOKEN: ${{ secrets.github_access_token }}
      - uses: ravsamhq/notify-slack-action@v2
        if: always() && env.SLACK_WEBHOOK_URL != ''
        with:
          status: ${{ job.status }}
          token: ${{ secrets.github_access_token }}
          notify_when: "failure"
          notification_title: "Publishing of Terraform Provider Failed"
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
          footer: "Linked Repo <{repo_url}|{repo}> | <{run_url}|View Run>"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  publish-gems:
    if: ${{ needs.release.outputs.ruby_regenerated == 'true' && inputs.publish_ruby == 'true' }}
    name: Publish Ruby SDK
    runs-on: ubuntu-latest
    needs: release
    defaults:
      run:
        working-directory: ${{ needs.release.outputs.ruby_directory }}
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@v1
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
        with:
          ruby-version: "3.1"
      - name: Install dependencies
        run: gem build && bundle install && rake rubocop
      - name: Publish
        env:
          GEM_HOST_API_KEY: ${{ secrets.rubygems_auth_token }}
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push *.gem
      - uses: ravsamhq/notify-slack-action@v2
        if: always() && env.SLACK_WEBHOOK_URL != ''
        with:
          status: ${{ job.status }}
          token: ${{ secrets.github_access_token }}
          notify_when: "failure"
          notification_title: "Publishing of Ruby SDK Failed"
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
          footer: "Linked Repo <{repo_url}|{repo}> | <{run_url}|View Run>"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
