name: Speakeasy Registry Tagger
on:
  workflow_call:
    inputs:
      sources:
        description: "The sources to tag (comma or newline separated)"
        required: false
        type: string
      code_samples:
        description: "The targets to tag code samples for (comma or newline separated)"
        required: false
        type: string
      working_directory:
        description: "The working directory for running Speakeasy CLI commands in the action"
        required: false
        type: string
      registry_tags:
        description: "Multi-line or single-line string input of tags to apply to speakeasy registry builds"
        required: false
        type: string
    secrets:
      github_access_token:
        description: A GitHub access token with read access to the repo
        required: true
      speakeasy_api_key:
        description: The API key to use to authenticate the Speakeasy CLI
        required: true
jobs:
  run-workflow:
    name: Apply Tags in Speakeasy Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sdk-generation-action repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          repository: speakeasy-api/sdk-generation-action
          ref: d209f94c685eb681f61f8c4a478e5c0cf64a1ebc
          path: _speakeasy
      - id: apply-tags
        name: Apply Tags
        uses: ./_speakeasy
        with:
          action: "tag"
          sources: ${{ inputs.sources }}
          code_samples: ${{ inputs.code_samples }}
          working_directory: ${{ inputs.working_directory }}
          registry_tags: ${{ inputs.registry_tags }}
          speakeasy_api_key: ${{ secrets.speakeasy_api_key }}
          github_access_token: ${{ secrets.github_access_token }}
        env:
          GH_ACTION_VERSION: d209f94c685eb681f61f8c4a478e5c0cf64a1ebc
