name: Speakeasy Registry Tagger
on:
  workflow_call:
    inputs:
      sources:
        description: "The sources to tag (comma or newline separated)"
        required: false
        type: string
      code_samples:
        description: "The targets to tag code samples for (comma or newline separated)"
        required: false
        type: string
      working_directory:
        description: "The working directory for running Speakeasy CLI commands in the action"
        required: false
        type: string
      registry_tags:
        description: "Multi-line or single-line string input of tags to apply to speakeasy registry builds"
        required: false
        type: string
    secrets:
      github_access_token:
        description: A GitHub access token with read access to the repo
        required: true
      speakeasy_api_key:
        description: The API key to use to authenticate the Speakeasy CLI
        required: true
jobs:
  run-workflow:
    name: Apply Tags in Speakeasy Registry
    runs-on: ubuntu-latest
    steps:
      - name: Install speakeasy CLI
        shell: bash
        run: curl -fsSL https://raw.githubusercontent.com/speakeasy-api/speakeasy/main/install.sh | sh
      - id: apply-tags
        name: Apply Tags
        shell: bash
        run: speakeasy ci tag
        env:
          SPEAKEASY_API_KEY: ${{ secrets.speakeasy_api_key }}
          SPEAKEASY_ENVIRONMENT: github
          INPUT_GITHUB_ACCESS_TOKEN: ${{ secrets.github_access_token }}
          INPUT_SOURCES: ${{ inputs.sources }}
          INPUT_CODE_SAMPLES: ${{ inputs.code_samples }}
          INPUT_WORKING_DIRECTORY: ${{ inputs.working_directory }}
          INPUT_REGISTRY_TAGS: ${{ inputs.registry_tags }}
